// ==========================================================================
// Vlaanderen UI -- Search
// ==========================================================================
@charset "utf-8";

// ==========================================================================
// Core
// ==========================================================================
@import "vl-ui-core/src/scss/core";

// ==========================================================================
// Components
// ==========================================================================
@import "vl-ui-titles/src/scss/titles";
@import "vl-ui-input-field/src/scss/input-field";
@import "vl-ui-button/src/scss/button";
@import "vl-ui-select/src/scss/select";
@import "vl-ui-search/src/scss/search";

// ==========================================================================
// Util
// ==========================================================================
@import "vl-ui-util/src/scss/util";

slot {
    @extend .vl-search__input;
    display: block;
}

:host([data-vl-inline]) {
    .vl-search {
        width: var(--vl-search-width, 25rem);
    }
    
    slot[name="input"] {
        background: white;

        &:focus-within {
            background: none;
            border: none;
        }

        &:focus-within + .vl-search__submit { 
            transition: opacity .2s, transform .2s;
            z-index: 1;
            opacity: 1;
            transform: translateX(0%);
        }

        + .vl-search__submit { 
            transition: opacity .2s, transform .2s;
            z-index: 1;
            opacity: 1;
            transform: translateX(0%);
        }
    }

    ::slotted(.js-vl-select) {
        background: white !important;
    }
}